.headerContainer {
  color: #fff;
}
.nav {
  background-color: #4e4e4e;
  height: 50px;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 960px;
  margin: 0 auto;
  font-size: 18px;
}
.navItemContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 46px;
}
.navItemBtn {
  text-decoration: none;
  color: #fff;
}
.navItemContactBtn {
  cursor: not-allowed;
}
.shadow {
  background-color: #000000d1;
}
.landingPage {
  background-size: cover;
  background-position: center;
}
.landingPage,
shadow {
  width: 100%;
  height: calc(100vh - 50px);
}
.landingPageContainer {
  display: flex;
  flex-direction: column;
  gap: 43px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.headingLandingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 577px;
  height: 46px;
  font-size: 36px;
}
.primaryParagraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 276px;
  height: 23px;
  font-size: 18px;
}
.offerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 41px;
  border: 3px solid #fff;
  background: rgba(196, 196, 196, 0);
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  transition: 1s ease;
}
.offerBtn:hover {
  background-color: #fff;
  color: black;
}
