.primaryMainContainer {
  background-color: #f1f1f1;
}
.primaryContentWraper,
.secondaryContentWraper {
  width: 960px;
  margin: 0 auto;
}
.primaryMainHeading,
.secondaryMainHeading {
  font-size: 36px;
  font-weight: 700;
  padding-top: 51px;
  color: #152d41;
}
.specialistsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 960px;
  height: 672px;
  margin: 0 auto;
  color: #000;
  font-size: 18px;
}
.firstSpecjalist,
.secondSpecjalist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.specjalistPicPiotrItem,
.specjalistPicMarekItem {
  width: 197px;
  height: 197px;
  border: solid 1px black;
  border-radius: 50%;
  background-size: cover;
}
.specjalistPicMarekItem {
  background-image: url(/src/assets/Marek-Nowak.png);
}
.specjalistPicPiotrItem {
  background-image: url(/src/assets/Piotr-Kowalski.png);
  order: 1;
}
.specialistsHeading {
  font-weight: 700;
  padding-bottom: 20px;
}
.specjalistTextMarek,
.specjalistTextPiotr {
  width: 700px;
  font-size: 18px;
}
.specjalistTextPiotr {
  text-align: right;
}
